.output_section {
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
  .overlay {
    background-color: rgba($color: #000000, $alpha: 0.2);
    width: 100%;
    height: 100%;
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
  }
  .out {
    position: relative;
    z-index: 6;
    width: 80%;
    margin: auto;
    background-color: #fff;
    min-height: 80vh;
    max-height: 100vh;
    overflow: hidden;
    border-radius: 8px;
    padding: 20px;
    top: 50%;
    transform: translateY(-50%);
    textarea {
      white-space: nowrap;
      display: block;
      width: 100%;
      height: 70vh;
      padding: 20px;
      line-height: 1.7;
      font-size: 1.2rem;
      border: 0;
      &:focus {
        outline: 0;
      }
    }
    button {
      margin-top: 10px;
    }
    .btns.f-center {
      margin: 20px 0;
      input {
        margin-right: 10px;
        width: 16px;
        height: 16px;
      }
    }
  }
}

.foot {
  margin-top: 20px;
  div {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    input,
    label {
      display: block;
    }
    label {
      color: #777;
      font-size: 1.1rem;
    }
    input {
      padding: 10px 15px;
      border: 1px solid #999;
      border-radius: 4px;
      width: 100px;
      font-size: 1.1rem;
    }
  }
}
.f-center {
  justify-content: flex-start;
  gap: 10px;
}
@media (max-width: 768px) {
  .output_section {
    .out {
      width: 95%;
      margin-top: 2vh;
      height: 95vh;
      textarea {
        height: 70vh;
        font-size: 0.9rem;
        overflow-x: hidden;
        margin-bottom: 1vh;
      }
    }
  }
}
